@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
@keyframes circleToSquare {
  0%,
  100% {
    border-radius: 58% 42% 50% 50% / 39% 59% 41% 61%;
    transform: rotate(0deg);
  }
  50% {
    border-radius: 39% 61% 34% 66% / 56% 56% 44% 44%;
    transform: rotate(45deg);
  }
}

.animated-circle {
  animation: circleToSquare 15s ease-in-out infinite;
}

.glassMorphism {
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba(47, 47, 48, 0.37);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
}
